---
import "../styles/global.css";
const { title, data } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="bmstable" content={Astro.url.origin + "/" + data} />
    <title>{title}</title>
  </head>
  <body>
    <div id="container">
      <slot />
    </div>
  </body>

  <style>
    #container {
      width: max-content;
      margin: 0 auto;
    }
  </style>
</html>
