---
import { SEO } from "astro-seo";
import "../styles/global.css";
const { title, data } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <SEO />
    <meta name="bmstable" content={Astro.url.origin + "/" + data} />
    <title>{title}</title>
  </head>
  <body>
    <div id="container">
      <slot />
    </div>
    <style>
      @reference "../styles/global.css";

      body {
        @apply bg-slate-800;
      }

      #container {
        @apply bg-slate-50/80 rounded-lg shadow-xl shadow-black;
        width: max-content;
        margin: 2rem auto;
        padding: 2rem 1rem;
      }
    </style>
  </body>
</html>
